<%- include ("../partials/header"); %>
    <title>Biblioteca</title>
    </head>

    <body>
        <header>
            <h1 class="display-4 text-center">Biblioteca</h1>
        </header>
        <main>
            <div class="container">
                <form action="" method="">
                    <div class="form-group">
                        <label for="usuario">Usuário:</label>
                        <input type="text" class="form-control" id="usuario" name="user" required>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input type="password" class="form-control" id="senha" name="password" required>
                    </div>

                    <button id="btn" type="button" onclick="valida()" class="btn btn-primary">Login</button>
                </form>







                <!-- <div class="row d-flex justify-content-center"> 
                    <a href="/biblioteca/listandoLivros"><button class="btn btn-outline-primary">Login</button></a>
                </div>
                <a href="/biblioteca/listandoLivrosUsuario"><button>Pesquisa</button></a> -->
            </div>
        </main>
        <%- include ("../partials/footer"); %>